body{
    margin-top: 15px;
    /* background-image: url("background2.jpg"); */
    background: black url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png) repeat;

}

*{
    border-radius: 5px;
}

.stars {
    background: black url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png) repeat;
     top: 0;
     bottom: 0;
     left: 0;
     right: 0;
     display: block;
    z-index: 0;
   }

.navigationbar{
    text-align: center;
    margin-bottom: 1%;
    opacity: 0.9;
    display: flexbox;
    border: 1px solid #272727;
}

.navigationbar li{
    padding: auto;
    display: flexbox;
}

.navigationbar a{
    color: #ffffff;
}

a{
    text-decoration: none;
}

.preview{
    text-align: center;
    width: 30%;
    height: 50%;
    background-color: transparent;
    float: left;
    color: #ffffff;
    border: 1px solid #ffffff;
}

.preview-info{
    width: 69%;
    margin-left: 31%;
    margin-bottom: 2%;
    background-color: transparent;
    color: #ffffff;
    opacity: 0.9;
    padding: 10px;
    border: 1px solid #ffffff;

}

.personalpicture
{
    width: 100%;
    height: 70%;
    opacity: 1.0;
}

.card{
    opacity: 0.9;
    padding: 5px;}

.btn{
    width: 50%;
    background-color: #ffffff;
    color: #272727;
    border: 1px solid #272727;
    opacity: 0.9;
    margin-left: 25%;
}

.btn:hover{
    background-color: #272727;
    color: #ffffff;
}

.btnCV{ 
    background-color: #ffffff;
    color: #272727;
    border: 1px solid #272727;
    opacity: 0.9;
    width: 50%;
    height: 50px    ;
    margin-left: 10%;
}

.btnCV a{
    color: #272727;
}

.btnCV a:hover{
    color: #ffffff;
}

.btnCV:hover{
    background-color: #272727;
    color: #ffffff;
    border: 1px solid #ffffff;
}

.card-title{
    text-align: center ;
}

.contact-form{
    width: 70%;
    margin-left: 15%;
    color: #ffffff;
    border: 1px solid #ffffff;
    background-color: transparent;
    opacity: 0.9;
    padding: 5%;}

.contact-form input, .contact-form label, .contact-form textarea{
    width: 70%;
    margin-left: 15%;
    display: block;
    margin-bottom: 1%;
    background-color: transparent;
    color: #ffffff;
}

.sm-links{
    margin-left: 27%;
    width: 80%;
}

.sm-links a{
    display: inline-block;
    color: #ffffff;
    margin: 5%;
}

.fa{
    height: 50px;
    width: 50px;
}
i{
    height: 50px;
    width: 50px;
}

.project-details{
    padding: 20px;
    background-color: #ffffff;
    opacity: 0.9;
}

.project-title{
    text-align: center;
    color: #ffffff;
    margin: 2%;
    padding: 2%;
    border: 1px solid #ffffff;
}

.section-title{
    text-align: center;
    color: #ffffff;
    margin: 2%;
    padding: 2%;
    border: 1px solid #ffffff;
}

.experience-card{
    display: flexbox;
}

.experience-card img{
    max-width: 64px;
    max-height: 64px;
}

  @media only screen and (min-width: 768px){
    
  }

  @media only screen and (max-width: 420px) {
    .preview{
        width: 80%;
        height: 20%;
        margin-left: 10%;
        font-size: smaller;
        float: none;
        margin-bottom: 2%;
    }
    .preview-info{
        width: 100%;
        margin-left: 0%;
        font-size: smaller;
        float: none;
        margin-bottom: 2%;
    }
    .navigationbar{
        margin-bottom: 2%;
    }
    .btnCV{
        display:none;
    }
    .navigationbar a {
        display:grid;
    }
    .contact-form{
        width: 100%;
        margin: 0;
        font-size: smaller;
        padding: 2%;
    }
    .project-details{
        width: 94%;
        margin-left: 3%;
    }
    .sm-links a{
        padding-top: 2%;
        margin: 0;
    }
  }