body{
    margin-top: 15px;
    background: black url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png) repeat;

}

*{
    border-radius: 5px;
}

@keyframes flickerAnimation {
    0%   { opacity:1; }
    50%  { opacity:0.5; }
    100% { opacity:1; }
  }
  @-o-keyframes flickerAnimation{
    0%   { opacity:1; }
    50%  { opacity:0.5; }
    100% { opacity:1; }
  }
  @-moz-keyframes flickerAnimation{
    0%   { opacity:1; }
    50%  { opacity:0.5; }
    100% { opacity:1; }
  }
  @-webkit-keyframes flickerAnimation{
    0%   { opacity:1; }
    50%  { opacity:0.5; }
    100% { opacity:1; }
  }

.stars {
     top: 0;
     bottom: 0;
     left: 0;
     right: 0;
     display: block;
    z-index: 0;
   }

.navbar{
    text-align: center;
    margin-bottom: 1%;
    opacity: 0.9;
    display: flexbox;
    border: 1px solid #ffffff;
}

.navbar ul{
    margin: auto;
}
.navbar li{
    padding: 20px;
    margin: 0 30px 0 30px;
}

.navbar li:hover{
    background-color: #272727;
}

.navbar a{
    color: #ffffff;
}

a{
    text-decoration: none;
}

.preview{
    text-align: center;
    background-color: transparent;
    width: 30%;
    height: 50%;
    float: left;
    color: #ffffff;
    border: 1px solid #ffffff;
}

.preview-info, .preview-skills{
    width: 69%;
    margin-left: 31%;
    margin-bottom: 2%;
    background-color: transparent;
    color: #ffffff;
    opacity: 0.9;
    padding: 10px;
    border: 1px solid #ffffff;

}

.personalpicture
{
    width: 100%;
    height: 70%;
    opacity: 1.0;
}

.preview-skills i{
    display: inline-block;
    text-align: center;
    margin: 20px;
    padding: 10px;
    font-size: 4em;
}

.card{
    opacity: 0.9;
    padding: 5px;}

.btn{
    width: 50%;
    background-color: #ffffff;
    color: #272727;
    border: 1px solid #272727;
    opacity: 0.9;
    margin-left: 25%;
}

.btn:hover{
    background-color: #272727;
    color: #ffffff;
}

.btnCV{ 
    background-color: #ffffff;
    color: #272727;
    border: 1px solid #272727;
    opacity: 0.9;
    width: 50%;
    height: 50px    ;
    margin-left: 10%;
}

.btnCV a{
    color: #272727;
}

.btnCV a:hover{
    color: #ffffff;
}

.btnCV:hover{
    background-color: #272727;
    color: #ffffff;
    border: 1px solid #ffffff;
}

.card-title{
    text-align: center ;
}

.contact-form{
    width: 70%;
    margin-left: 15%;
    color: #ffffff;
    border: 1px solid #ffffff;
    background-color: transparent;
    opacity: 0.9;
    padding: 5%;}

.contact-form input, .contact-form label, .contact-form textarea{
    width: 70%;
    margin-left: 15%;
    display: block;
    margin-bottom: 1%;
    background-color: transparent;
    color: #ffffff;
}

.cv{
    margin: 10%;
}

.sm-links{
    margin-left: 27%;
    width: 80%;
}

.sm-links a{
    display: inline-block;
    color: #ffffff;
    margin: 5%;
    font-size: xx-large;
}

.fa{
    height: 50px;
    width: 50px;
}
i{
    height: 50px;
    width: 50px;
}

.project-details{
    padding: 20px;
    background-color: #ffffff;
    opacity: 0.9;
}

.project-title, .section-title{
    text-align: center;
    color: #ffffff;
    padding: 2%;
    border: 1px solid #ffffff;
    animation: flickerAnimation 1.5s infinite;
}

.experience-card{
    display: flexbox;
}

.experience-card img{
    max-width: 64px;
    max-height: 64px;
}

.card-img-top{
    float: left;
    margin-right: 5%;
}

.planet{
    width:100px;
    height:100px;
    position:absolute;
    border-radius:50%;
    overflow:hidden;
    box-shadow: 0 0 60px -20px rgba(255, 189, 3, 0.72), -14px -15px 40px -10px rgba(255, 238, 191, 0.23);
    left:50%;
    top:50%;
    margin:200px;
  }

.planet .mask{
    width:100%;
    height:100%;
    position: absolute;
    box-shadow:inset -10px -10px 40px #251303, inset 10px 10px 30px -10px rgba(255, 204, 159, 0.6);
    border-radius:50%;
  }

  .planet .background{
    background:  repeat-x;
    width:100px;
    height:100px;
    position:absolute;
    border-radius:50%;
  }

  .planet .clouds{
    background: #e28904 repeat-x;
    width:100px;
    height:100px;
    position:absolute;
    border-radius:50%;
  }

  .animate-flicker {
    overflow: hidden;
    position: absolute;
    padding-left: 10%;
    color: rgb(85, 203, 239);
     -webkit-animation: flickerAnimation .5s infinite;
     -moz-animation: flickerAnimation .5s infinite;
     -o-animation: flickerAnimation .5s infinite;
      animation: flickerAnimation .5s infinite;
  }

  .animate-flicker2 {
    overflow: hidden;
    position: absolute;
    padding-left: 30%;
    padding-top: 35%;
    color: #ffffff;
     -webkit-animation: flickerAnimation .5s infinite;
     -moz-animation: flickerAnimation .5s infinite;
     -o-animation: flickerAnimation .5s infinite;
      animation: flickerAnimation .5s infinite;
  }

  @media only screen and (max-width: 768px){

    .navbar li{
        margin: 0;
        padding: 0 15px 0 15px;
        width: 100%;
        text-align: center;
        font-size: smaller;
    }
}

  @media only screen and (max-width: 420px) {
    .preview{
        width: 80%;
        height: 20%;
        margin-left: 10%;
        font-size: smaller;
        float:none;
        margin-bottom: 2%;
    }
    .preview-info{
        width: 100%;
        margin-left: 0%;
        font-size: smaller;
        margin-bottom: 2%;
    }
    .navbar{
        margin-bottom: 2%;
    }
    .navbar li{
        margin: 0;
        padding: 0 15px 0 15px;
        width: 100%;
        text-align: center;
        font-size: smaller;
    }
    .planet{
        margin: 100px;
    }
    .contact-form{
        width: 100%;
        margin: 0;
        font-size: smaller;
        padding: 2%;
    }
    .project-details{
        width: 94%;
        margin-left: 3%;
    }
    .preview-skills{
        width: 100%;
        margin: auto;
        padding: 0;
    }
    .sm-links a, .sm-links i{
        padding-top: 5%;
        margin: auto;
        font-size: larger;
    }
  }