body{
    background-repeat: no-repeat;
    margin-top: 15px;
}

*{
    border-radius: 5px;
}

.navigationbar{
    text-align: center;
    background-color: #ffffff;
    margin-bottom: 1%;
    opacity: 0.9;
    padding: 10px 0 10px 0;
    border: 1px solid #272727;
}

.navigationbar a{
    text-align: center;
    padding: 0 12% 0 12%;
    color: #272727;
}

a{
    text-decoration: none;
}

.preview{
    text-align: center;
    width: 30%;
    height: 50%;
    background-color: #ffffff;
    float: left;
}

.preview-info{
    width: 69%;
    margin-left: 31%;
    background-color: #ffffff;
    opacity: 0.9;
}

.personalpicture
{
    width: 100%;
    height: 70%;
    opacity: 1.0;
}

.btn{
    width: 50%;
    background-color: #ffffff;
    color: #272727;
    border: 1px solid #272727;
    opacity: 0.9;
    margin-left: 25%;
}

.btn:hover{
    background-color: #272727;
    color: #ffffff;
}

.btnCV{ 
    background-color: #ffffff;
    color: #272727;
    border: 1px solid #272727;
    opacity: 0.9;
    margin-left: 25%;
}

.btnCV a{
    color: #272727;
}

.btnCV a:hover{
    color: #ffffff;
}

.btnCV:hover{
    background-color: #272727;
    color: #ffffff;
    border: 1px solid #ffffff;
}

.contact-form{
    width: 70%;
    margin-left: 15%;
    border: 3px solid #272727;
    background-color: #ffffff;
    opacity: 0.9;
    padding: 5%;}

.contact-form input, .contact-form label, .contact-form textarea{
    width: 50%;
    margin-left: 25%;
    display: block;
    margin-bottom: 1%;
}

.sm-links{
    margin-left: 27%;
    width: 80%;
}

.sm-links a{
    display: inline-block;
    color: #ffffff;
    margin: 5%;
}

.fa{
    height: 50px;
    width: 50px;
}

video {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index:-100;
  }