{% extends "base.html" %}

{% block page_content %}
<h2 class="section-title">Work Experience</h2>
<div class="row">
{% for exp in experience %}
    <div class="col-md-4">
        <div class="card mb-0 experience-card">
            <div class="card-body">
                <h5 class="card-title">Company Name: {{ exp.organizationName }}</h5>
                {% if exp.image %}
                <img class="card-img-top" src="{{ exp.image.url }}">
                {% endif %} 
                <p class="card-text">Position: {{ exp.position }}</p>
                <p class="card-text">Description: {{ exp.description }}</p>
                <p class="card-text">Start Date: {{ exp.startDate }}</p>
                <p class="card-text">End Date: {{ exp.endDate }}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}