{% extends "base.html" %}
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    </head>
    <body>
        {% block page_content %}
        <h2 class="section-title">Who am I?</h2>
        <section class="whoami">
            
            <div class="preview">
                <img src="/static/berinmujcinovic.jpg" class="personalpicture" alt="Berin Mujcinovic"/>
                <h2>Berin Mujčinović</h2><hr>
                <h4>System & Web Developer</h4>
                <h4>DevOps</h4>
            </div>
            <div class="preview-info">
                <h5>In the vast cosmic tapestry of life, a 26-year-old explorer charting my course through the celestial realms of possibilities. A proficient operator and dedicated team player, I navigate the cosmic waves with courage, seeking the unknown and exploring the uncharted corners of existence. Once, I held the helm as the leader of a dynamic society, embodying a strong protagonist character in the cosmic saga.</h5>
                <h5>Driven by an innate desire to help others succeed on their own cosmic paths, I extend a cosmic hand to fellow travelers, sharing wisdom gleaned from the cosmic tapestry of experiences. Together, we traverse the galaxies of challenges, finding joy, satisfaction, happiness, and the pure essence of cosmic existence.</h5>
                <h5>In the cosmic ballet of life, I dance to the rhythm of my own journey, embracing the cosmic winds that propel me toward new horizons. Join me as we embark on a space adventure, where every twist and turn unfolds a celestial story worth exploring.</h5>
            </div>
            <div class="preview-skills">
                <h4>Skills:</h4>
                <i class="devicon-azure-plain-wordmark"></i>
                <i class="devicon-azuredevops-plain"></i>
                <i class="devicon-linux-plain"></i> 
                <i class="devicon-bash-plain"></i>
                <i class="devicon-vim-plain"></i>
                <i class="devicon-git-plain-wordmark"></i>
                <i class="devicon-docker-plain"></i>
                <i class="devicon-django-plain-wordmark"></i>
                <i class="devicon-angularjs-plain-wordmark"></i>
                <i class="devicon-mongodb-plain-wordmark"></i>
                <i class="devicon-mysql-plain-wordmark"></i>
                <i class="devicon-cypressio-plain-wordmark"></i>
                <i class="devicon-wordpress-plain-wordmark"></i>
            </div>
            <div class="cv">
                <button class="btn" onclick="window.location.href='https://jade-alma-3.tiiny.site';">Check out my CV</button>
            </div>
            
        </section>
        {% endblock page_content %}
    </body>
</html>